<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
      <div id="app">
        <button v-on:click="symbol = '+'">+</button>
        <button v-on:click="symbol = '-'">-</button>
        <button v-on:click="symbol = '*'">*</button>
        <button v-on:click="symbol = '/'">/</button><br>
        <template v-if="symbol == '+'">
            <div>
              <h1>การบวก</h1>
            </div>
            </template>
        <template v-else-if="symbol == '-'">
            <div>
              <h1>การลบ</h1>
            </div>
            </template>
        <template v-else-if="symbol == '*'">
            <div>
              <h1>การคูณ</h1>
            </div>
            </template>
        <template v-else-if="symbol == '/'">
            <div>
            <h1>การหาร</h1>
            </div>
            </template>
     
        
          <input type="number" v-model="number1">
          <span>{{ symbol }}</span>
          <input type="number" v-model="number2">
            =
        <span v-if="symbol == '+'">{{ plus }}</span>
        <span v-else-if="symbol == '-'">{{minus}}</span>
        <span v-else-if="symbol == '*'">{{multi}}</span>
        <span v-else-if="symbol == '/'">{{divide}}</span>

        </div>
        <script>
           var app = new Vue({
            el: '#app',
            data: {
               symbol:'',
               number1: 0,
               number2: 0,
               result: 0,
        
            },
            
            computed: {
                 plus: function(){
                   return parseInt(this.number1)+parseInt(this.number2);
                 },
                  minus: function(){
                   return parseInt(this.number1)-parseInt(this.number2);  
                 },
                 multi: function(){
                   return parseInt(this.number1)*parseInt(this.number2);  
                 },
                 divide: function(){
                   return parseInt(this.number1)/parseInt(this.number2);  
                 },
            },
        })
      </script>
    </body>
</html>